.wrapper {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  display: flex;
  justify-content: center;
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background: #000;
  width: 20%;
  height: 35px;
}

.links:hover {
  transition: all 0.4s ease-in;
  background: gray;
  border: 1px solid gray;
  color: black;
}
